* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family:"Exo 2", sans-serif;

}

:root {
  --lightest-blue:#e0fbfc;
  --light-blue: #e0fbfc;
  --dark-blue: rgb(23, 113, 231);
  --darkest-blue:rgb(23, 46, 112);
  /* rgb(240, 221, 219) */
}


.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(23, 46, 112) 50%, #e0fbfc 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}


/*_______________________ FULL BODY EDITS ____________________________*/

.header {
  margin: 0px;
  padding: 0px;
}

button:focus,
input:focus {
  outline: none;
}

body {
  font-family: "Lato", "sans-serif";
}

/* _____________________ NAVIGATION BAR _____________________________


/*********** DEPARTMENT LOGO *********/

.department-logo img {
  height: 60px;
  width: 65px;
  /* filter: invert(98%); */
}

/********** MAIN NAVIGATION PANEL *********/

.nav-edits {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: rgb(241, 243, 248, 0.9) !important;
}

.nav-link-edits {
  padding-right: 4%;
}

.nav-link-edits a {
  color: var(--darkest-blue) !important;
  font-size: 18px !important;
  font-weight: 400;
}

.nav-link-edits a:hover {
  color: var(--dark-blue) !important;
}

.dropdown-menu {
  background-color: rgb(241, 243, 248, 1) !important;
  /* box-shadow: 5px 5px 15px rgb(241, 243, 248); */
  border: none;
}

.dropdown-item:hover {
  background-color: rgb(241, 243, 248, 0.92) !important;
}

.dropdown-divider {
  border-top: 1px solid #888a8c !important;
}

.collapse-edits {
  margin-right: 110px !important;
}

/********** RESPONSIVE TOGGLER ***********/

.responsive-nav {
  border: none !important;
  position: absolute;
  right: 5px;
  top: 11px;
  font-size: 35px;
  color: var(--darkest-blue) !important;
}

/*************** SEARCH BUTTON **************/

.openBtn {
  border: none;
  padding: 12px 15px;
  font-size: 22px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 0px;
  top: 6px;
  color: var(--darkest-blue) !important;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--dark-blue);
  background-color: rgba(141, 147, 171, 0.877);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: var(--light-blue);
}

.overlay .closebtn:hover {
  color: var(--darkest-blue);
}

.overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: var(--darkest-blue);
  border-radius: 20px;
  margin-right: 15px;
  color: var(--lightest-blue);
}

.overlay input[type="text"]:hover {
  background: var(--darkest-blue);
  background: rgb(57, 59, 68, 0.88);
}

.overlay button {
  float: left;
  width: 13%;
  padding: 11px;
  background: var(--lightest-blue);
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.overlay button:hover {
  background: var(--light-blue);
}

/* _______________ FOOTER ________________ */

.footer-bs {
  background-color: var(--darkest-blue);
  padding: 60px 40px;
  color: var(--lightest-blue);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent;
}

.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgb(241, 243, 248, 0.7);
}

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
  color: rgb(241, 243, 248, 0.7);
  font-weight: bold;
  text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
  color: rgb(241, 243, 248, 0.8);
  text-decoration: none;
}

.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
  color: rgb(241, 243, 248, 0.7);
}

.footer-bs .footer-nav ul.list a:hover {
  color: rgb(241, 243, 248, 0.6);
  text-decoration: none;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-bs .footer-social li {
  padding: 5px 4px;
}

.footer-bs .footer-social a {
  color: rgb(241, 243, 248, 0.6);
}

.footer-bs .footer-social a:hover {
  color: rgb(241, 243, 248, 0.6);
  text-decoration: none;
}

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgb(241, 243, 248, 0.7);
}

.logo-footer {
  display: flex;
  justify-content: flex-start;
}

.footer-image img {
  width: 80px;
  height: 80px;
}

.logo-footer {
  margin-top: -15px;
  padding-bottom: 15px;
}

.footer-name h5 {
  font-size: 15px;
  margin-top: 15px;
}

.footer-name h6 {
  font-size: 13px;
}

.unite-icon {
  font-size: 30px;
  color: var(--lightest-blue);
}

.input-group-btn {
  margin-top: -8px;
}

.social-icon {
  color: var(--lightest-blue);
  padding-right: 10px;
}

.social-name {
  font-size: 12px !important;
  vertical-align: text-top;
}

.footer-social h4,
.footer-ns h4 {
  font-size: 15px !important;
}

.footer-image img {
  filter: invert(98%);
}

.faculty-cards {
  padding-bottom: 100px;
}


/*events*/

.details-events {
  height: 95vh;
  width: 95vw;
  margin: 5vh auto;

}

.cont-left {
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #a1cad8, #b5cad5, #87bbcc);
  border-radius: 8%;
}

.img-events {
  height: 35vh;
  width: 85vw;
  padding: 2vh 4vw;
  margin-bottom: 3vh;
}

.img-events img {
  height: 35vh;
  width: 85vw;
}

.cont-events {
  height: 50vh;
  width: 90vw;
  text-align: center;
  padding: 2vh 2vw;
  font-family: cursive;
  overflow: auto;
  font-size: 65%;
}

.brief-info {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(1, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: 900;
  border: 3px solid #f1f1f1;
  position: relative;
  z-index: 2;
  width: 99vw;
  height: 27vh;
  padding: auto;
  margin: auto;
  font-size: 80%;
  text-overflow: clip;
  font-family: 'Times New Roman', Times, serif;
}


@media (min-width: 768px) {
  .details-events {
    height: 85vh;
    width: 90vw;
    margin: 5vh auto;

  }

  .cont-left {
    height: 85vh;
    width: 90vw;
    align-items: center;
    display: flex;
    background-image: linear-gradient(to right, #a1cad8, #b5cad5, #87bbcc);
  }

  .img-events {
    height: 70vh;
    width: 40vw;
    padding: 4vh 6vw;
    border-right-style: dashed;

  }

  .img-events img {
    height: 60vh;
    width: 32vw;
  }

  .cont-events {
    height: 70vh;
    width: 50vw;
    text-align: center;
    padding: 2vh 2vw;
    font-family: cursive;
    overflow: auto;
    font-size: 100%;

  }

  .brief-info {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    z-index: 2;
    width: 99vw;
    height: 50vh;
    padding: 1em 3em;
    margin: auto;
    font-size: 2vw;
    text-wrap: stable;
  }
}

/* ________________ MEDIA QUERIES _______________*/

/************ NAV-COMPONENTS ***************/

@media (max-width: 987.98px) {
  .department-logo {
    height: 47px;
    width: 55px;
    margin-bottom: 10px;
    margin-top: -12px;
  }

  .responsive-nav {
    font-size: 28px;
    margin-top: -5px;
  }

  .openBtn {
    font-size: 18px;
    margin-top: -5px;
  }
}

/* __________ FOOTER ___________ */

@media (min-width: 768px) {

  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px rgb(241, 243, 248, 0.2);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-image img {
    width: 100px;
    height: 100px;
  }

  .footer-name h5 {
    font-size: 18px;
    margin-top: 27px;
  }

  .footer-name h6 {
    font-size: 14px;
  }

  .address-footer p {
    font-size: 13px !important;
  }

  .footer-bs {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .footer-social h4,
  .footer-ns h4 {
    padding-bottom: 10px !important;
    font-size: 13px !important;
  }

  .logo-footer {
    padding-bottom: 15px !important;
  }
}

@media (max-width: 576px) {
  .footer-image img {
    width: 60px;
    height: 60px;
  }

  .footer-name h5 {
    font-size: 14px;
    margin-top: 13px;
  }

  .footer-name h6 {
    font-size: 10px;
  }

  .address-footer p {
    font-size: 10px !important;
  }

  .footer-bs {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .footer-social h4,
  .footer-ns h4 {
    padding-bottom: 10px !important;
    font-size: 13px !important;
  }

  .logo-footer {
    padding-bottom: 15px !important;
  }
}

/* _____________ DESIGN AND DEVELOPMENT ______________ */

.shiv p,
.shiv a {
  font-size: 15px;
  text-align: center;
  margin: 10px auto;
}


.form-control {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 37px;
}

::placeholder {
  font-size: 17px;
}







/* Setting container to flex and 
           width to 80% of view port */
.container {
  display: flex;
  width: 80vw;
  margin-top: 8vh;
}

/*Adding background image to each section*/
.one {
  background: url("images/identity-1.jpg");
}

.two {
  background: url('images/FRESHERS.png');
}

.three {
  background: url('images/Farewell-20.jpg');
}

.four {
  background: url('images/Identity-c.jpg');
}

/* Background properties and 
             transition effect to section */
.section {
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  cursor: pointer;
  flex: 0.2;
  margin: 8px;
  position: relative;
  transition: all 0.7s ease-out;
}


@media (max-width:768px){
  /* Setting container to flex and 
           width to 80% of view port */
.container {
  display: flex;
  width: 90vw;
  margin-top: 4vh;
}

/*Adding background image to each section*/
.one {
  background: url("images/identity-1.jpg");
}

.two {
  background: url('images/FRESHERS.png');
}

.three {
  background: url('images/Farewell-20.jpg');
}

.four {
  background: url('images/Identity-c.jpg');
}

/* Background properties and 
             transition effect to section */
.section {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  cursor: pointer;
  flex: 0.2;
  margin: 8px;
  position: relative;
  transition: all 0.7s ease-out;
}
}

/* section with active class will
             grow flex to 3 times */
.section.active {
  flex: 3;
}

/* Setting container to flex and 
             width to 80% of view port */
             .container {
              display: flex;
              width: 80vw;
              margin-top: 8vh;
            }
            
            /*Adding background image to each section*/
              /*Adding background image to each section*/
              .one {
                  background: url("images/piposter.jpg");
              }
          
              .two {
                  background: url('images/freshers-21.jpeg');
              }
          
              .three {
                  background: url('images/farewll21c.png');
              }
          
              .four {
                  background: url('images/teachers-day-2021.jpeg');
              }
            
            /* Background properties and 
                         transition effect to section */
            .section {
              background-size:contain;
              background-position: center;
              background-repeat: no-repeat;
              height: 80vh;
              cursor: pointer;
              flex: 0.2;
              margin: 8px;
              position: relative;
              transition: all 0.7s ease-out;
            }
            
            
            @media (max-width:768px){
              /* Setting container to flex and 
                       width to 80% of view port */
            .container {
              display: flex;
              width: 90vw;
              margin-top: 4vh;
            }
            
            /*Adding background image to each section*/
              /*Adding background image to each section*/
              .one {
                  background: url("images/piposter.jpg");
              }
          
              .two {
                  background: url('images/freshers-21.jpeg');
              }
          
              .three {
                  background: url('images/farewll21c.png');
              }
          
              .four {
                  background: url('images/teachers-day-2021.jpeg');
              }
            
            /* Background properties and 
                         transition effect to section */
            .section {
              background-size:cover;
              background-position: center;
              background-repeat: no-repeat;
              height: 40vh;
              cursor: pointer;
              flex: 0.2;
              margin: 8px;
              position: relative;
              transition: all 0.7s ease-out;
            }
            }
            
            /* section with active class will
                         grow flex to 3 times */
            .section.active {
              flex: 3;
            }