/* ______________ COLORS ___________
 #f1f3f8 - lightest
  #d6e0f0 - light
 #8d93ab - dark
#393b44 - darkest
*/

:root {
  --lightest-grey: rgb(241, 243, 248);
  --light-grey: rgb(214, 224, 240);
  --dark-grey: rgb(141, 147, 171);
  --darkest-grey: rgb(57, 59, 68);
}

/*_______________________ FULL BODY EDITS ____________________________*/

.header {
  margin: 0px;
  padding: 0px;
}

button:focus,
input:focus {
  outline: none;
}

body {
  font-family: "Lato", "sans-serrif";
}

/* _____________________ NAVIGATION BAR _____________________________
    
    
    /*********** DEPARTMENT LOGO *********/

.department-logo img {
  height: 60px;
  width: 65px;
  /* filter: invert(98%); */
}

/********** MAIN NAVIGATION PANEL *********/

.nav-edits {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: rgba(241, 243, 248, 0.7) !important;
}

.nav-link-edits {
  padding-right: 4%;
}

.nav-link-edits a {
  color: var(--darkest-grey) !important;
  font-size: 18px !important;
  font-weight: 400;
}

.nav-link-edits a:hover {
  color: rgb(72, 74, 82) !important;
}

.dropdown-menu {
  background-color: rgba(241, 243, 248, 0.9) !important;
  /* box-shadow: 5px 5px 15px rgb(241, 243, 248); */
  border: none;
}

.dropdown-item:hover {
  background-color: rgb(241, 243, 248, 0.92) !important;
}

.collapse-edits {
  margin-right: 110px !important;
}
.dropdown-divider {
  border-top: 1px solid #888a8c !important;
}
.ved-ujj p,
.ved-ujj a {
  font-size: 14px;
  display: none;
}
.ved-ujj a {
  color: rgb(53, 53, 165);
}

/********** RESPONSIVE TOGGLER ***********/

.responsive-nav {
  border: none !important;
  position: absolute;
  right: 5px;
  top: 11px;
  font-size: 35px;
  color: var(--darkest-grey) !important;
}

/*************** SEARCH BUTTON **************/

.openBtn {
  border: none;
  padding: 12px 15px;
  font-size: 22px;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  right: 0px;
  top: 6px;
  color: var(--darkest-grey) !important;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--dark-grey);
  background-color: rgba(141, 147, 171, 0.877);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: var(--light-grey);
}

.overlay .closebtn:hover {
  color: var(--darkest-grey);
}

.overlay input[type="text"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: var(--darkest-grey);
  border-radius: 20px;
  margin-right: 15px;
  color: var(--lightest-grey);
}

.overlay input[type="text"]:hover {
  background: var(--darkest-grey);
  background: rgb(57, 59, 68, 0.88);
}

.overlay button {
  float: left;
  width: 13%;
  padding: 11px;
  background: var(--lightest-grey);
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.overlay button:hover {
  background: var(--light-grey);
}

/* ______________ SEMINARS MAIN _______________*/

.seminars-main {
  background-image: url(../images/seminar-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 70px;
}

/* ____________ SEMINARS CARDS _____________ */

.seminar-1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.seminar-2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  background-color: transparent !important;
}

.card-header {
  background-color: rgb(241, 243, 248, 0.2) !important;
  color: var(--lightest-grey) !important;
}

.card-body {
  background-color: rgb(255, 255, 255, 0.1) !important;
  color: rgb(211, 211, 212) !important;
}

.seminar-1 a:hover,
.seminar-2 a:hover {
  text-decoration: none;
}

.seminar-heading {
  text-align: center;
  color: var(--lightest-grey);
  padding-top: 70px;
  padding-bottom: 60px;
}

.seminar-content {
  color: var(--lightest-grey);
  width: 70%;
  margin: auto;
  padding-bottom: 120px;
  font-size: 20px;
}
/* _______________ SEMINAR DESCRIPTION ______________ */

.about-content {
  padding-bottom: 200px;
  background-color: var(--lightest-grey);
  color: var(--darkest-grey);
}

.about-content img {
  display: block;
  margin: auto;
  width: 700px;
  height: 600px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-1 {
  width: 750px;
  margin: auto;
  padding: 25px 0px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  /* font-weight: lighter; */
}

.about-content h2 {
  width: 750px;
  margin: auto;
  padding-bottom: 30px;
  font-size: 35px;
  padding-top: 80px;
}

/* _____ FOOTER ______ */

.footer-bs {
  background-color: var(--darkest-grey);
  padding: 60px 40px;
  color: var(--lightest-grey);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent;
}

.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgb(241, 243, 248, 0.7);
}

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
  color: rgb(241, 243, 248, 0.7);
  font-weight: bold;
  text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
  color: rgb(241, 243, 248, 0.8);
  text-decoration: none;
}

.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
  color: rgb(241, 243, 248, 0.7);
}

.footer-bs .footer-nav ul.list a:hover {
  color: rgb(241, 243, 248, 0.6);
  text-decoration: none;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-bs .footer-social li {
  padding: 5px 4px;
}

.footer-bs .footer-social a {
  color: rgb(241, 243, 248, 0.6);
}

.footer-bs .footer-social a:hover {
  color: rgb(241, 243, 248, 0.6);
  text-decoration: none;
}

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgb(241, 243, 248, 0.7);
}

.logo-footer {
  display: flex;
  justify-content: flex-start;
}

.footer-image img {
  width: 80px;
  height: 80px;
}

.logo-footer {
  margin-top: -15px;
  padding-bottom: 15px;
}

.footer-name h5 {
  font-size: 15px;
  margin-top: 15px;
}

.footer-name h6 {
  font-size: 13px;
}

.unite-icon {
  font-size: 30px;
  color: var(--lightest-grey);
}

.input-group-btn {
  margin-top: -8px;
}

.social-icon {
  color: var(--lightest-grey);
  padding-right: 10px;
}

.social-name {
  font-size: 12px !important;
  vertical-align: text-top;
}

.footer-social h4,
.footer-ns h4 {
  font-size: 15px !important;
}

.footer-image img {
  filter: invert(98%);
}
.input-group-btn .btn {
  box-shadow: none;
}
.input-group .form-control {
  box-shadow: none;
}

/* _____________ MEDIA QUERIES ______________ */

/*______________ NAV-COMPONENTS ______________*/

@media (max-width: 987.98px) {
  .department-logo {
    height: 47px;
    width: 55px;
    margin-bottom: 10px;
    margin-top: -12px;
  }
  .responsive-nav {
    font-size: 28px;
    margin-top: -5px;
  }
  .openBtn {
    font-size: 18px;
    margin-top: -5px;
  }
}

/* ___________ EVENT DESCRIPTION ________________*/

@media (min-width: 768px) and (max-width: 991.98px) {
  .about-content {
    padding-bottom: 200px;
  }
  .about-content img {
    width: 550px;
    height: 500px;
  }
  .content-1 {
    width: 600px;
    line-height: 1.45;
    padding: 23px 0px;
  }
  .about-content h2 {
    width: 600px;
    margin: auto;
    padding-bottom: 30px;
    font-size: 35px;
    padding-top: 60px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .about-content {
    padding-bottom: 200px;
  }
  .about-content img {
    width: 440px;
    height: 430px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .content-1 {
    width: 490px;
    line-height: 1.4;
    padding: 20px 0px;
  }
  .about-content h2 {
    width: 490px;
    margin: auto;
    padding-bottom: 30px;
    font-size: 35px;
    padding-top: 50px;
  }
}

@media (max-width: 575.98px) {
  .about-content {
    padding-bottom: 200px;
  }
  .seminar-1 {
    padding-bottom: 0px;
  }
  .content-1 {
    width: 95%;
    line-height: 1.2;
    padding: 15px 0px;
    text-align: justify;
    font-weight: lighter;
  }
  .about-content h2 {
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 30px;
    padding-top: 40px;
    text-align: left;
  }

  .seminar-content {
    font-size: 0px;
    padding-bottom: 0px;
  }
  .seminar-heading {
    font-size: 45px;
    padding-top: 40px;
  }
  .card {
    width: 95%;
    margin: auto;
  }
}

/* ____ FOOTER _____ */

@media (min-width: 768px) {
  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px rgb(241, 243, 248, 0.2);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-image img {
    width: 100px;
    height: 100px;
  }
  .footer-name h5 {
    font-size: 18px;
    margin-top: 27px;
  }
  .footer-name h6 {
    font-size: 14px;
  }
  .address-footer p {
    font-size: 13px !important;
  }
  .footer-bs {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .footer-social h4,
  .footer-ns h4 {
    padding-bottom: 10px !important;
    font-size: 13px !important;
  }
  .logo-footer {
    padding-bottom: 15px !important;
  }
}

@media (max-width: 576px) {
  .footer-image img {
    width: 60px;
    height: 60px;
  }
  .footer-name h5 {
    font-size: 14px;
    margin-top: 13px;
  }
  .footer-name h6 {
    font-size: 10px;
  }
  .address-footer p {
    font-size: 10px !important;
  }
  .footer-bs {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .footer-social h4,
  .footer-ns h4 {
    padding-bottom: 10px !important;
    font-size: 13px !important;
  }
  .logo-footer {
    padding-bottom: 15px !important;
  }
}

/* _____________ DESIGN AND DEVELOPMENT ______________ */

@media (max-width: 576px) {
  .ved-ujj p,
  .ved-ujj a {
    font-size: 10px;
  }
}

.form-control {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 37px;
}

::placeholder {
  font-size: 17px;
}
