 /* ______________ COLORS ___________
 #f1f3f8 - lightest
  #d6e0f0 - light
 #8d93ab - dark
#393b44 - darkest
*/

 :root {
     --lightest-grey: rgb(241, 243, 248);
     --light-grey: rgb(214, 224, 240);
     --dark-grey: rgb(141, 147, 171);
     --darkest-grey: rgb(57, 59, 68);
 }

 /*_______________________ FULL BODY EDITS ____________________________*/

 .header {
     margin: 0px;
     padding: 0px;
 }

 button:focus, input:focus {
     outline: none !important;
 }

 body {
     font-family: 'Lato', 'sans-serif';
 }

 /* _____________________ NAVIGATION BAR _____________________________


/*********** DEPARTMENT LOGO *********/

 .department-logo img {
     height: 60px;
    /* PERM CHANGE */
    width: 60px !important; 
    /* PERM CHANGE */
     /* filter: invert(98%); */
 }

 /********** MAIN NAVIGATION PANEL *********/

 .nav-edits {
     padding-top: 0px !important;
     padding-bottom: 0px !important;
     /* background-color: rgb(241, 243, 248) !important; */
 }

 .nav-link-edits {
     padding-right: 4%;
 }

 .nav-link-edits a {
     color: var(--darkest-grey) !important;
     font-size: 18px !important;
     font-weight: 400;
 }

 .nav-link-edits a:hover {
     color: var(--dark-grey) !important;
 }

 .dropdown-menu {
     background-color: white !important;
     box-shadow: 5px 5px 15px rgb(241, 243, 248);
     border: none;
 }

 .dropdown-item:hover {
     background-color: rgb(241, 243, 248, 0.82) !important;
 }

 .collapse-edits {
     margin-right: 110px !important;
     /* Temp edits*/
    margin-left: 20px;
    /* Temp edits*/
 }

 /********** RESPONSIVE TOGGLER ***********/

 .responsive-nav {
     border: none !important;
     position: absolute;
       /* Temp edits*/
       right: 5px;
       /* Temp edits*/
     top: 11px;
     font-size: 35px;
     color: var(--darkest-grey) !important;
 }

 /*************** SEARCH BUTTON **************/

 .openBtn {
     border: none;
     padding: 12px 15px;
     font-size: 22px;
     cursor: pointer;
     background-color: transparent;
     position: absolute;
     right: 0px;
     top: 6px;
     color: var(--darkest-grey) !important;
 }

 .overlay {
     height: 100%;
     width: 100%;
     display: none;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: var(--dark-grey);
     background-color: rgba(141, 147, 171, 0.877);
 }

 .overlay-content {
     position: relative;
     top: 46%;
     width: 80%;
     text-align: center;
     margin-top: 30px;
     margin: auto;
 }

 .overlay .closebtn {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
     cursor: pointer;
     color: var(--light-grey);
 }

 .overlay .closebtn:hover {
     color: var(--darkest-grey);
 }

 .overlay input[type=text] {
     padding: 15px;
     font-size: 17px;
     border: none;
     float: left;
     width: 80%;
     background: var(--darkest-grey);
     border-radius: 20px;
     margin-right: 15px;
     color: var(--lightest-grey);
 }

 .overlay input[type=text]:hover {
     background: var(--darkest-grey);
     background: rgb(57, 59, 68, 0.88);
 }

 .overlay button {
     float: left;
     width: 13%;
     padding: 11px;
     background: var(--lightest-grey);
     font-size: 22px;
     border: none;
     cursor: pointer;
     border-radius: 20px;
 }

 .overlay button:hover {
     background: var(--light-grey);
 }

 /* _______________ HEADING _____________*/

 .heading h2 {
     text-align: center;
     color: var(--darkest-grey);
     font-size: 22px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-top: 1px solid rgb(206 207 209 / 75%);
     box-shadow: -1px 4px 7px rgb(206 207 209 / 70%);
 }

 /* ___________ BREADCRUMB ____________ */

 .breadcrumb {
     background-color: transparent !important;
 }

 .breadcrumb-edit {
     padding-top: 10px;
     padding-left: 30px;
 }

 /* ________________ ARTICLE FLEX _____________*/

 .article-flex {
     display: flex;
 }

 /* *********** ARTICLES *********** */

 .article {
     width: 70%;
     padding-left: 30px;
     padding-right: 100px;
 }

 .article h1 {
     font-size: 40px;
     margin-bottom: 40px;
 }

 .article h6 {
     font-size: 18px;
     margin-bottom: 30px;
 }

 .article p, .article li {
     font-size: 18px;
     text-align: justify;
 }

 .article p {
     padding-top: 15px;
 }

 .article li {
     padding-top: 10px;
 }

 .article h3 {
     padding-top: 30px;
     padding-bottom: 10px;
 }

 /************ REFERENCES *************/

 .references {
     width: 30%;
     margin-top: 100px;
     
 }

 .card {
     border: 1px solid rgb(166, 167, 172, 0.3) !important;
 }

 .card-body li {
     padding-top: 10px;
     line-height: 1.7;
 }

 .ref li {
     margin-left: -20px !important;
 }

 .card-header {
     background-color: rgb(241, 243, 248, 0.5) !important;
     color: #069 !important;
 }

 .figure img {
     width: 200px;
     height: 200px;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .figure h3 {
     font-size: 20px;
     margin-bottom: 20px;
     margin-top: 20px;
 }

 /* _______________ FOOTER ________________ */

 .footer-bs {
     background-color: var(--lightest-grey);
     padding: 60px 40px;
     color: var(--darkest-grey);
     margin-bottom: 20px;
     border-bottom-right-radius: 6px;
     border-top-left-radius: 0px;
     border-bottom-left-radius: 6px;
     margin-top: 80px;
 }

 .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
     padding: 10px 25px;
 }

 .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
     border-color: transparent;
 }

 .footer-bs .footer-brand h2 {
     margin: 0px 0px 10px;
 }

 .footer-bs .footer-brand p {
     font-size: 12px;
     color: rgb(57, 59, 68, 0.7);
 }

 .footer-bs .footer-nav ul.pages {
     list-style: none;
     padding: 0px;
 }

 .footer-bs .footer-nav ul.pages li {
     padding: 5px 0px;
 }

 .footer-bs .footer-nav ul.pages a {
     color: rgb(57, 59, 68);
     font-weight: bold;
     text-transform: uppercase;
 }

 .footer-bs .footer-nav ul.pages a:hover {
     color: rgb(57, 59, 68, 0.7);
     text-decoration: none;
 }

 .footer-bs .footer-nav h4 {
     font-size: 11px;
     text-transform: uppercase;
     letter-spacing: 3px;
     margin-bottom: 10px;
 }

 .footer-bs .footer-nav ul.list {
     list-style: none;
     padding: 0px;
 }

 .footer-bs .footer-nav ul.list li {
     padding: 5px 0px;
 }

 .footer-bs .footer-nav ul.list a {
     color: rgb(57, 59, 68, 0.8);
 }

 .footer-bs .footer-nav ul.list a:hover {
     color: rgb(57, 59, 68, 0.6);
     text-decoration: none;
 }

 .footer-bs .footer-social ul {
     list-style: none;
     padding: 0px;
 }

 .footer-bs .footer-social h4 {
     font-size: 11px;
     text-transform: uppercase;
     letter-spacing: 3px;
 }

 .footer-bs .footer-social li {
     padding: 5px 4px;
 }

 .footer-bs .footer-social a {
     color: rgb(57, 59, 68, 0.6);
 }

 .footer-bs .footer-social a:hover {
     color: rgb(57, 59, 68, 0.8);
     text-decoration: none;
 }

 .footer-bs .footer-ns h4 {
     font-size: 11px;
     text-transform: uppercase;
     letter-spacing: 3px;
     margin-bottom: 10px;
 }

 .footer-bs .footer-ns p {
     font-size: 12px;
     color: rgb(57, 59, 68, 0.7);
 }

 .logo-footer {
     display: flex;
     justify-content: flex-start;
 }

 .footer-image img {
     width: 80px;
     height: 80px;
 }

 .logo-footer {
     margin-top: -15px;
     padding-bottom: 15px;
 }

 .footer-name h5 {
     font-size: 15px;
     margin-top: 15px;
 }

 .footer-name h6 {
     font-size: 13px;
 }

 .unite-icon {
     font-size: 30px;
     color: var(--darkest-grey);
 }

 .input-group-btn {
     margin-top: -8px;
 }

 .social-icon {
     color: var(--darkest-grey);
     padding-right: 10px;
 }

 .social-name {
     font-size: 12px !important;
     vertical-align: text-top;
 }

 .footer-social h4, .footer-ns h4 {
     font-size: 15px !important;
 }

 /* ________________ MEDIA QUERIES _______________*/

 /************ NAV-COMPONENTS ***************/

 @media (max-width: 987.98px) {
     .department-logo {
         height: 47px;
         width: 55px;
         margin-bottom: 10px;
         margin-top: -12px;
     }
     .responsive-nav {
         font-size: 28px;
         margin-top: -5px;
     }
     .openBtn {
         font-size: 18px;
         margin-top: -5px;
     }
 }

 /******************* HEADING *******************/

 @media (max-width: 575.98px) {
     .heading h2 {
         font-size: 18px;
     }
 }

 /* ____________ ARTICLE-FLEX ____________ */

 @media (min-width: 768px) and (max-width: 987.98px) {
     .article {
         padding-right: 60px;
         width: 65%;
     }
     .references {
         width: 35%;
     }
     .figure img {
         width: 170px;
         height: 170px;
     }
 }
 @media (min-width: 576px) and (max-width: 767.98px) {
    .article-flex {

        flex-wrap: wrap;
    }
    .article {
        width: 80%;
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }
    .references {
        width: 70%;
        padding-left: 0px;
        padding-right: 0px;
        margin: 60px auto;
    }
    .breadcrumb-edit {
        padding-left: 0px;
        width: 80%;
        margin: auto;
    }
    .figure img {
        width: 170px;
        height: 170px;
    }
 }

 @media (max-width: 575.98px) {
    .article-flex {

        flex-wrap: wrap;
    }
    .article {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }
    .references {
        width: 80%;
        padding-left: 0px;
        padding-right: 0px;
        margin: 60px auto;
    }
    .breadcrumb-edit {
        padding-left: 0px;
        width: 90%;
        margin: auto;
    }
    .article h1 {
        font-size: 35px;
    }
    .article h6 {
        font-size: 17px;
    }
    .article h3 {
        font-size: 25px;
    }
    .article p, .article li{
        font-size: 17px;
        line-height: 1.4;
    }
    .article li {
        margin-left: -20px;
    }
    .figure img {
        width: 170px;
        height: 170px;
       
    }
 }

 /* __________ FOOTER ___________ */

 @media (min-width: 768px) {
     .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
         border-left: solid 1px rgb(57, 59, 68, 0.1);
     }
 }

 @media (min-width: 576px) and (max-width: 767.98px) {
     .footer-image img {
         width: 100px;
         height: 100px;
     }
     .footer-name h5 {
         font-size: 18px;
         margin-top: 27px;
     }
     .footer-name h6 {
         font-size: 14px;
     }
     .address-footer p {
         font-size: 13px !important;
     }
     .footer-bs {
         padding-top: 20px !important;
         padding-bottom: 20px !important;
         margin-top: 10px;
     }
     .footer-social h4, .footer-ns h4 {
         padding-bottom: 10px !important;
         font-size: 13px !important;
     }
     .logo-footer {
         padding-bottom: 15px !important;
     }
 }

 @media (max-width: 576px) {
     .footer-image img {
         width: 60px;
         height: 60px;
     }
     .footer-name h5 {
         font-size: 14px;
         margin-top: 13px;
     }
     .footer-name h6 {
         font-size: 10px;
     }
     .address-footer p {
         font-size: 10px !important;
     }
     .footer-bs {
         padding-top: 20px !important;
         padding-bottom: 20px !important;
     }
     .footer-social h4, .footer-ns h4 {
         padding-bottom: 10px !important;
         font-size: 13px !important;
     }
     .logo-footer {
         padding-bottom: 15px !important;
     }
 }

 /* _____ DESIGN AND DEVELOPMENT ______ */

 .ved-ujj p, .ved-ujj a{
    font-size: 14px;
}
.ved-ujj a {
    color: rgb(53, 53, 165);
}


@media (max-width: 576px) {
    .ved-ujj p, .ved-ujj a{
        font-size: 10px;
    }
}

.form-control{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 37px;
  }
  
  ::placeholder {
    font-size: 17px;
  }